<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        
	  <RollingFile name="file" fileName="./logs/all.log" filePattern="./logs/all.%i.%d{yyyy-MM-dd}.log">
	   <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
	   <Policies>
	    <SizeBasedTriggeringPolicy size="1MB" /> <!-- 이 용량이 초과되면 아래 DefaultRolloverStrategy 정책만큼 넘버링 할거다. -->
	   </Policies>
	   <DefaultRolloverStrategy max="10" fileIndex="min" /><!-- 0부터 10개 까지만 만들거다 10개 초과되면 파일이 더생성안된다. -->
	  </RollingFile>
	  
	  <!-- java source
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;	  
		Logger logger = LoggerFactory.getLogger(사용하는 class: UsCompController.class);
		logger.debug("Hello World");
	    -->
        
    </Appenders>

    <Loggers>
    <!--     
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>        
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <logger name="jdbc.resultset" additivity="false">
  			<level value="WARN" />
  			<appender-ref ref="general" />
 		</logger>
 		<logger name="jdbc.audit" additivity="false">
  			<level value="WARN" />
  			<appender-ref ref="general" />
 		</logger>
 		<logger name="jdbc.connection" additivity="false">
		  <level value="WARN" />
		  <appender-ref ref="general" />
		 </logger>
	    <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
		  <AppenderRef ref="console" />
	    </Logger>
	    <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />                       
        </Logger>
        <Logger name="org.springframework.jdbc" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
         -->
        <Root level="DEBUG">
            <!-- <AppenderRef ref="console" /> -->
            <AppenderRef ref="file" />	<!-- 실제, file log 지정하는 부분 -->
        </Root>
    </Loggers>

</Configuration>
